<app-layout-component></app-layout-component>
<!--<p>edit-component works!</p>-->



<div style="text-align:center">
  <h1>
    Add User
  </h1>

  <div class="col" style="text-align:center">
    <label>Image Link     :</label>
    <br>
    <input type="text" [(ngModel)]="image">
  </div>

  <div class="col" style="text-align:center">
    <label>Name     :</label>
    <br>
    <input type="text" [(ngModel)]="name">
  </div>

  <!--<div class="col" style="text-align:center">
    <label>Id     :</label>
    <br>
    <input type="text" [(ngModel)]="id">
  </div>-->
  <br>
  <button (click)="addUsers()">
    Add User
  </button>
  {{respo}}
  <h2></h2>
</div>
