/*

.card {*/
/* Add shadows to create the "card" effect */
/*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}*/

/* On mouse-over, add a deeper shadow */
/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }*/

/* Add some padding inside the card container */
/*.container {
  padding: 2px 16px;
}


*/

.card {
  height: 14rem;
  width: 12rem;
  border-radius: 5%;
  margin-bottom: 0.3rem;
}

.card-body {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: space-between;
}

.card-image {
  width: 9rem;
  height: 8rem;
  border-radius: 5%;
  background-size: cover;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 0.85rem;
  margin-bottom: 0rem;
  color: #202020;
  display: block;
  width: 5rem;
}

.card-text {
  font-size: 0.7rem;
  color: #7d7d7d;
  line-height: 1rem;
}
