<app-layout-component></app-layout-component>


<div>
  <div class="col" style="text-align:right">
    <button (click)="searchUsersByName()">
      Search
    </button>

    <input type="text" [(ngModel)]="nameSearch">
  </div>
</div>




<table class="table">
  <thead>
    <h1>
      Profiles from MongoDB
    </h1>
  </thead>
  <tbody>
    <tr *ngFor="let p of users">
      <td>
        <a class="nav-link" routerLink="/{{p._id}}" href="#">
          <div class="card">
            <div class="card-body">
              <div>
                <img title="Profile" [src]=p.Image class="card-image">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">{{p.id}}</p>
              </div>
            </div>
          </div>
        </a>
      </td>
    </tr>
  </tbody>
</table>







<!--<div style="text-align:center">


  <table class="table">
    <thead>
      <h1>
        Profiles from MongoDB
      </h1>
    </thead>
    <tbody>
      <tr *ngFor="let p of users">
        <td align="center">
          <a class="nav-link" routerLink="/{{p._id}}" href="#" style="align-content:center">
            <div class="card" width="500" height="600" style="align-content:center">
              <span>
                <img title="Profile" [src]=p.Image class="nav-link" routerLink="/{{p.id}}" href="#" style="align-content:center" alt="Avatar" width="500" height="600">
              </span>
              <span class="container">
                <h4><b>{{p.name}}</b></h4>
                <p>{{p.id}}</p>
              </span>
            </div>


          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
