<nav class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color:black;">
    <div class="navbar-header">
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="/localProfiles" routerLink="/localProfiles" style="font-size:18pt;color: aliceblue;">User Profile App</a></li>
      </ul>
    </div>

    <!--<div>
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="/search" routerLink="/search" style="font-size:12pt;color: aliceblue;">Search</a></li>
      </ul>
    </div>-->

    <div>
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="/home" routerLink="/home" style="font-size:12pt;color: aliceblue;">Profiles from AWS</a></li>
      </ul>
    </div>

    <div>
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="/edit" routerLink="/edit" style="font-size:12pt;color: aliceblue;">Add User</a></li>
      </ul>
    </div>

    <div>
      <ul class="nav navbar-nav" style="display:block;">
        <li><a href="/localProfiles" routerLink="/localProfiles" style="font-size:12pt;color: aliceblue;">Profiles from Local MongoDB</a></li>
      </ul>
    </div>

  </div>
</nav>


<!--<p>layout-component works!</p>-->
