<!--<p>user-profile works!</p>-->

<app-layout-component></app-layout-component>

<div style="text-align:center">

  <h1>
    Profiles
  </h1>
    <a style="align-content:center">
      <div class="card" width="500" height="600" style="align-content:center">
        <span>
          <img title="Profile" [src]=profile.Image style="align-content:center" alt="Avatar" width="500" height="600">
        </span>
        <span class="container">
          <h4><b>{{profile.name}}</b></h4>
          <p>{{profile.id}}</p>
          <p>{{profile.address}}</p>
        </span>
      </div>
    </a>
</div>

<div style="text-align:center">

  <h4>
    Delete profile for User : {{profile.name}}
  </h4>
  <br />
  <button (click)="deleteUser()">
    Delete Profile
  </button>
  {{respoD}}
  <br />
</div>

<div style="text-align:center">

  <h4>
    Update Address for User : {{profile.name}}
  </h4>
  <br />
  <label>Address : </label>&nbsp;
  <input type="text" [(ngModel)]="address" />
  <button (click)="addAdress()">
    Update Address
  </button>
  {{respo}}
  <br />
</div>




